header,
section,
footer {
  position: relative;
}

/* padding */
header {
  padding: 0 250px;
}

.section_1 .text_wrap {
  padding-left: 250px;
}

.section_2 {
  padding: 210px 250px 185px 250px;
}

.section_3,
.section_8 {
  padding: 185px 250px;
}

.section_4 {
  padding: 210px 0;
}

.section_6 {
  padding: 380px 0 185px;
}

.section_7 {
  padding: 185px 0;
}

.section_9 {
  padding: 185px 0 185px 250px;
}

footer {
  padding: 110px 150px;
}

@media screen and (max-width: 1500px) {
  header {
    padding: 0 150px;
  }

  .section_1 .text_wrap {
    padding-left: 150px;
  }

  .section_2 {
    padding: 210px 150px 185px 150px;
  }

  .section_3,
  .section_8 {
    padding: 185px 150px;
  }

  .section_9 {
    padding: 185px 0 185px 150px;
  }
}

@media screen and (max-width: 1280px) {
  header {
    padding: 0 80px;
  }

  .section_1 .text_wrap {
    padding-left: 80px;
  }

  .section_2 {
    padding: 150px 80px 130px 80px;
  }

  .section_3,
  .section_8 {
    padding: 130px 80px;
  }

  .section_6 {
    padding: 310px 0 130px 0;
  }

  .section_7 {
    padding: 130px 0;
  }

  .section_9 {
    padding: 130px 0 130px 80px;
  }

  footer {
    padding: 110px 80px 100px 80px;
  }
}

@media screen and (max-width: 1024px) {
  .section_3 {
    padding: 130px 5%;
  }

  .section_4 {
    padding: 210px 0 160px 0;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 0 5%;
  }

  .section_1 .text_wrap {
    padding-left: 0;
  }

  .section_2 {
    padding: 90px 5%;
  }

  .section_3,
  .section_8,
  .section_9 {
    padding: 90px 5%;
  }

  .section_4 {
    padding: 160px 0;
  }

  .section_6 {
    padding: 130px 5% 80px 5%;
  }

  .section_7 {
    padding: 120px 0 80px 0;
  }

  .section_9 {
    padding: 90px 0 90px 5%;
  }

  footer {
    padding: 90px 5% 80px 5%;
  }
}

@media screen and (max-width: 678px) {
  .section_2 {
    padding: 90px 80px;
  }
}

@media screen and (max-width: 540px) {
  .section_2 {
    padding: 90px 5%;
  }
}

@media screen and (max-width: 430px) {
  .section_4 {
    padding: 90px 0;
  }

  .section_7 {
    padding: 50px 0;
  }

  .section_9 {
    padding: 80px 0 80px 5%;
  }
}

/* title_wrap */
.title_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
  text-align: center;
  /* padding: 20px; */
}

.title_wrap h3 {
  font-size: 54px;
  font-weight: 900;
  line-height: 86px;
}

@media screen and (max-width: 1024px) {
  .title_wrap {
    margin-bottom: 70px;
  }

  .title_wrap h3 {
    font-size: 38px;
    line-height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .title_wrap {
    margin-bottom: 40px;
  }

  .title_wrap h3 {
    font-size: 32px;
    line-height: 50px;
  }
}

@media screen and (max-width: 430px) {
  .title_wrap {
    margin-bottom: 33px;
  }

  .title_wrap h3 {
    font-size: 26px;
    line-height: 42px;
  }

  .section_7 .title_wrap {
    margin-bottom: 20px;
    padding: 0 5%;
  }
}

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  height: 100%;
}
